h2{
    font-family: 'Climate Crisis', cursive;
    color:rgb(7, 80, 56)
}
body{
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/alderaan-main_f5b676cf.jpeg?region=0%2C40%2C1280%2C640');
}
button{
    background-color: rgb(174, 251, 225);

}